@import "./../../assets/styles/variables";
@import "./../../assets/styles/flex";
@import "./../../assets/styles/sudo";

.climb {
    position: relative;
    width: 100%;
    height: 100vh;

    .text__block {
        top: 0;
        &__wrapper {
            height: 190px;
            span {
                top: 0;
            }
            h1 {
                top: 10%;
                left: 25%;
            }
            p {
                top: 50%;
                left: 0;
            }
        }
    }

    &__content {
        padding-top: 190px;

        &__tab {
            padding: 0 $spacer;
            background-color: $textPrimary;
            button {
                font-weight: bold;
                padding: $spacer1_2;
                color: transparentize($color: $white, $amount: 0.5);
                text-transform: uppercase;
                font-size: $font-size-sm;

                &.selected, &:hover {
                    background-color: transparentize($color: $white, $amount: 0.5);
                    color: $textPrimary;
                }
            }
        }

        &__main {
            .tab {
                position: relative;
                height: 76vh;
                &--1 {
                    background: url('./../../assets/images/tab-1.png') no-repeat center center;
                    background-size: cover;
                }
                &--2 {
                    background: url('./../../assets/images/tab-2.png') no-repeat center center;
                    background-size: cover;
                }
                .card {
                    @include element-position(absolute, 15%, 16px, unset, 16px);
                    background-color: transparentize($color: $white, $amount: 0.35);
                    padding: $spacer;

                    &__title {
                        font-size: $font-size-xl;
                    }

                    table {
                        min-width: 300px;
                        font-weight: 200;
                        letter-spacing: 1px;

                        td {
                            padding: $spacer1_4 $spacer1_2;
                        }
                    }
                }
            }

        }
    }

    @media screen and (min-width: 769px){
        .text__block {
            &__wrapper {
                span {
                    top: -22%;
                }
                h1 {
                    top: 30%;
                    left: 35%;
                }
                p {
                    top: 27%;
                    left: 50%;
                }
            }
        }

        &__content {
            &__tab {
                padding: 0 25%;
                button {
                    padding: $spacer2x;
                    font-size: $font-size-l;
                }
            }
            &__main {
                .tab {
                    height: 73vh;
                    .card {
                        right: unset;
                        left: 25%;
                        width: max-content;
                    }
                }
            }
        }
    }
}