@import "./../../assets/styles/variables";
@import "./../../assets/styles/flex";
@import "./../../assets/styles/sudo";


.history {
    @include flex(row, flex-end, center);
    position: relative;
    background: url('./../../assets/images/history-bg.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    &__carousel {
        background-color: transparentize($color: $textPrimary, $amount: 0.5);
        padding: $spacer;
        width: 100%;
        height: 20%;
    }
}