@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

$font-family-primary: Oswald, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


$textPrimary: #414f6b;
$white: #FFFFFF;
$black: #000000;


$spacer: 1rem;
$spacer2x: $spacer * 2;
$spacer3x: $spacer * 3;
$spacer4x: $spacer * 4;
$spacer1_2: $spacer * 0.5;
$spacer1_4: $spacer * 0.25;

$font-size-base: 1rem;
$font-size-s: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-l: $font-size-base * 1.5;
$font-size-xl: $font-size-base * 3;
$font-size-xxxl: $font-size-base * 7.5;

$transition-in-out: 200ms ease-in-out;